#set( $images = "${webResourceHelper.getStaticResourcePrefix()}/download/resources/com.keysight.database:database-resources/images" )
#if( $showQuery && $code )
    $databaseVelocityHelper.convertStorageToView( $code )
#end

<table class="aui">
    <thead>
        <tr>
            #foreach( $column in $columnNames )
                <th>$column</th>
            #end
        </tr>
    </thead>
    <tbody>
        #foreach( $row in $dataRows )
            <tr>
                #foreach( $item in $row )
                    <td>$!item</td>
                #end
            </tr>
        #end
    </tbody>
</table>
